.container__project > h2 {
  text-align: center;
  font-size: 2.2rem;
}

.list_projects {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

}

.card-project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}

.project-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 600px;
  border-radius: 1.2rem;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(212,212,212,1);
  -moz-box-shadow: 1px 1px 10px 0px rgba(212,212,212,1);
  box-shadow: 1px 1px 10px 0px rgba(212,212,212,1);
}

.project-desc {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.project-title {
  font-size: 1.6rem;
}

.project-actions {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn__project > a {
  display: flex !important;
  gap: 0.7rem;
  align-items: center;
}