.container__hero {
  min-height: 50rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
}

.hero-hgroup {
  max-width: 75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.hero-hgroup > * {
  text-align: left;
}

.hero-hgroup-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.hero-hgroup-subhead {
  line-height: 1.7;
}

.hero-cta {
  display: flex;
  gap: 2rem;
}
